*.orig
*.pyc
*.dmp
*.sql
*.zip
*.sqlite3
/.settings
/.installed.cfg
/.idea/*
/.vscode/*
/venv/*
/python/*
/bin/*
/eggs/*
/parts/*
/media/*
/node_modules/*
.sublime-gulp.cache
/media.tar
package-lock.json
/xabber_microservice/settings.py
